/* src/ColorPaletteGenerator.css */
.palette-generator {
  text-align: center;
  /* padding: 20px; */
}

.palette {
  display: flex;
  justify-content: center;
  /* margin: 20px 0; */
}

.color-box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 10px; */
  color: white;
  font-weight: bold;
  /* border-radius: 8px; */
  height: 100vh;
  width: 40vw;
}

button {
  font-size: 72px;
  cursor: pointer;
  left: 5%;
  position: absolute;
  z-index: 100;
  color: rgb(255, 255, 255);
  top: 20%;
  font-weight: bold;
}


/* src/index.css */
.shape {
  position: absolute;
  opacity: 0.8;
  background: none;
  border: solid 10px;
}
.circle {
  border-radius: 50%;
  background: none;
  border: solid 10px;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #4ade80; /* Tailwind green-400 */
}
.square {
  width: 100px;
  height: 100px;
  background: none;
  border: solid 10px;
}
